In [565]:
import pandas as pd
import numpy as np

In [566]:
df=pd.read_csv("Bank Customer Churn Prediction.csv",index_col=[0])

In [567]:
df.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
customer_id,,,,,,,,,,,
15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [568]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 15634602 to 15628319
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   credit_score      10000 non-null  int64
 1   country           10000 non-null  object
 2   gender            10000 non-null  object
 3   age               10000 non-null  int64
 4   tenure            10000 non-null  int64
 5   balance           10000 non-null  float64
 6   products_number   10000 non-null  int64
 7   credit_card       10000 non-null  int64
 8   active_member     10000 non-null  int64
 9   estimated_salary  10000 non-null  float64
 10  churn             10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 937.5+ KB

In [569]:
df.shape

(10000, 11)

In [570]:
df.isnull().sum()

credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [571]:
df.duplicated().sum()

np.int64(0)

In [572]:
df['country'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [573]:
df.describe()

,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [574]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier

In [575]:
X=df.drop(columns=['churn'])
y=df['churn']

In [576]:
X.shape,y.shape

((10000, 10), (10000,))

In [577]:
X.columns

Index(['credit_score', 'country', 'gender', 'age', 'tenure', 'balance',
       'products_number', 'credit_card', 'active_member', 'estimated_salary'],
      dtype='object')

In [578]:
y.name

'churn'

In [579]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [580]:
oe=OrdinalEncoder()
X_train[['country','gender']]=oe.fit_transform(X_train[['country','gender']])
X_test[['country','gender']]=oe.fit_transform(X_test[['country','gender']])

In [581]:
X_train.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary
customer_id,,,,,,,,,,
15801920,727,1.0,1.0,39,5,80615.46,2,0,0,180962.32
15754569,664,0.0,1.0,57,1,0.00,2,1,1,56562.57
15664498,508,0.0,1.0,26,7,205962.00,1,1,0,156424.40
15758013,698,0.0,1.0,37,5,98400.61,2,0,0,25017.28
15636624,805,2.0,0.0,39,5,165272.13,1,1,0,14109.85

In [582]:
X_train.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary
customer_id,,,,,,,,,,
15801920,727,1.0,1.0,39,5,80615.46,2,0,0,180962.32
15754569,664,0.0,1.0,57,1,0.00,2,1,1,56562.57
15664498,508,0.0,1.0,26,7,205962.00,1,1,0,156424.40
15758013,698,0.0,1.0,37,5,98400.61,2,0,0,25017.28
15636624,805,2.0,0.0,39,5,165272.13,1,1,0,14109.85

In [583]:
nor=Normalizer()
X_train=nor.fit_transform(X_train)
X_test=nor.transform(X_test)

In [584]:
model=RandomForestClassifier(criterion='entropy')
model.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy')

In [585]:
y_pred=model.predict(X_test)

In [586]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [587]:
print(f"{model.score(X_test,y_test)*100 : .2f} %")

 83.40 %

In [591]:
sample=[583,2.0,0.0,40,3,54428.37,1,1,0,109638.78]
input=np.array(sample).astype(float).reshape(1,-1)
input_nor=nor.fit_transform(input)

In [592]:
print(model.predict(input_nor))

[1]